body{
    background-image: url('src/assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height:54.5rem;
}



#tableRow{
    background: rgba(8 8 8 / 66%);
}

.tableContainer {
    scrollbar-color: blue black;
  }